<%- include ../build/pages/index.html %>

<!-- testing -->
<div id="mocha"><p><a href=".">Index</a></p></div>
<div id="messages"></div>
<div id="fixtures"></div>
<script src="../libs/mocha/mocha.js"></script>
<script src="../libs/chai/chai.js"></script>
<script src="../libs/sinon-1.12.2/index.js"></script>
<script>mocha.setup('bdd');</script>
<script>mocha.run();</script>
